#app {
    padding: 1rem;
    margin: 1rem;
}

.heading {
    text-decoration: underline;
    text-align: center;
}

#main {
    border: 4px solid deeppink;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
}

#textArea {
    width: 13rem;
    height: 1.5rem;
}

.listStyle {
    display: flex;
    justify-content: space-between;
    margin: 0.4rem;
}

.addCheck {
    text-decoration: line-through;
    color: rgb(37, 177, 65)
}

.deleteBtn {
    color: red;
    background-color: rgb(255, 255, 124);
    padding: 0.2rem;
    font-weight: bold;
    margin-left: 0.1rem;
    display: inline-flex;
    justify-content: end;
}